{% assign cols = content | split: '<!-- split -->' %}
{% if cols.size == 2 %}
  <div class="eight columns alpha">
    {{ cols[0] | replace: 'src=', 'class="lazyload" data-src=' }}
  </div>
  <div class="eight columns omega">
    {{ cols[1] | replace: 'src=', 'class="lazyload" data-src=' }}
  </div>
{% elsif cols.size == 3 %}
  <div class="one-third column alpha">
    {{ cols[0] | replace: 'src=', 'class="lazyload" data-src=' }}
  </div>
  <div class="one-third column">
    {{ cols[1] | replace: 'src=', 'class="lazyload" data-src=' }}
  </div>
  <div class="one-third column omega">
    {{ cols[2] | replace: 'src=', 'class="lazyload" data-src=' }}
  </div>
{% elsif cols.size == 4 %}
  <div class="four columns alpha">
    {{ cols[0] | replace: 'src=', 'class="lazyload" data-src=' }}
  </div>
  <div class="four columns">
    {{ cols[1] | replace: 'src=', 'class="lazyload" data-src=' }}
  </div>
  <div class="four columns">
    {{ cols[2] | replace: 'src=', 'class="lazyload" data-src=' }}
  </div>
  <div class="four columns omega">
    {{ cols[3] | replace: 'src=', 'class="lazyload" data-src=' }}
  </div>
{% else %}
  {{ content | replace: 'src=', 'class="lazyload" data-src=' }}
{% endif %}